.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.cartItem {
  background-color: white;
  font-family: Inter, sans-serif;
  font-weight: 600;
  max-width: 100%;
  width: 100%;
  padding: 14px;
  border-radius: 15px;
  box-sizing: border-box;
}
.mainContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}
.cart-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}
.cartTitle {
  width: 30ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.img-preview {
  width: 100px;
  height: 100px;
  padding: 10px;
  object-fit: contain;
}
.leftSide {
  display: flex;
  align-items: center;
}
.quantityContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}
.placeOrderContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.placeOrderBtn {
  background-color: #2d3436;
  color: #fff;
  font-weight: bold;
}
.itemPrice {
  font-weight: 400;
}
.removeBtn {
  width: 25px;
  height: 25px;
  background-color: #d63031;
  padding: 1px;
}
.totalPrice {
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d3436;
}

.emptyCartMsgContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
}
@media (max-width: 500px) {
  .cartItem {
    width: 100%;
  }
  .cart-item-content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .quantityContainer {
    width: 100%;
    justify-content: space-between;
  }
  .cartTitle {
    width: 100%;
  }
  .img-preview {
    width: 80px;
    height: 80px;
  }
}
