.header {
  display: flex;
  justify-content: space-between;
}
img,
svg {
  width: 40px;
  height: 40px;
}
.rightContainer {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-family: Inter;
}
.cartCounter {
  background-color: #636e72;
  color: #dfe6e9;
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Inter, sans-serif;
}
